body {
  background-color: #0d0c2d;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  color: white;
}

.todo-container {
  text-align: center;
}

.todo-header {
  background: #14133b;
  padding: 20px;
  border-radius: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #2f2e72;
  width: 400px;
  margin: auto;
}

.header-text h1 {
  margin: 0;
  
}

.header-text p {
  margin: 5px 0;
  font-size: 14px;
  color: #cfcfcf;
}

.progress-bar {
  background: #1c1b4a;
  width: 200px;
  height: 6px;
  border-radius: 10px;
  margin-top: 10px;
}

.progress {
  background: #6a5acd;
  height: 6px;
  width: 0%;
  border-radius: 10px;
}

.counter {
  background: #6a5acd;
  width: 60px;
  height: 60px;
  border-radius: 45%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 23px;
  font-weight: bold;
}

.todo-input {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.todo-input input {
  background: #14133b;
  border: 1px solid #2f2e72;
  border-radius: 10px;
  padding: 12px;
  width: 300px;
  color: white;
  outline: none;
  font-size: 14px;
}

.todo-input button {
  background: #6a5acd;
  border: none;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  margin-left: 10px;
  color: white;
  font-size: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.todo-input button:hover {
  background: #8470ff;
}

.task-list {
  list-style: none;
  padding: 0;
  margin-top: 20px;
}
